{% extends "base.html" %} {% block title %}Error | Cricket Craze{% endblock %}
{% block content %}
<h1 style=" color: red;">Something went wrong..!</h1>
<p>Error : You put <i><h4 style="color: rgb(255, 0, 0);">" {{id}} "</h4> </i> which is not available.</p>
  <h3>Thank You for Visiting!</h3>
  <p>
    Thank you for being a part of Cricket Craze. The journey has just begun, and
    there's much more to come. Together, let’s celebrate cricket like never
    before!
  </p>

  <br /><br />
  <p style="text-align: center; color: #888">
    — Chetan, Creator of Cricket Craze
  </p>
</div>
{% endblock %}
